
img {
  vertical-align: middle;
}

.text-red {
  color: #d90845;
}

.section:nth-child(odd){
  background-color: #f7f7f7;
}

.main-title {
  color: #555;
}

.main-title h4::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  margin: 32px auto 0;
  background-color: #d90845;
}

.card-title {
  color: #666;
}


/* hot section */
.hot .card-item{
  margin-bottom: 16px;
  box-sizing: border-box;
  transition: transform 0.15s ease-in-out, box-shadow 0.5s ease-in-out;
  height: 100%;
}

.hot .card-item:hover {
  transform: translateY(-3px);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.hot .teacher, .hot .course-date {
  color: #999;
  font-size: 0.85rem;
  font-weight: 400;
}

.hot .course-date {
  border-top: 1px solid #ccc;
  padding-top: 16px;
}

.hot .course-date .badge {
  font-size: 0.9rem;
  padding-top: 16px;
  background-color: #E6E6E6;
  padding: 7px 10px;
  color: #666;
}

.hot .more-btn {
  text-align: center;
  padding: 15px 50px;
  font-size: 1.125rem;
  background-color: #d90845;
  border-radius: 5px;
  transition: color .15s ease-in-out, box-shadow .3s ease-in-out;
}

.hot .more-btn:hover {
  color: #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hot .more-btn a {
  color: #fff;
  text-decoration: none;
}


/* recommend section */
.recommend-indicators {
  margin-bottom: -30px;
}

.recommend .carousel-item {
  height: 228px;
}

.recommend .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: rgba(85,85,85,0.3);
  border: 1px solid #fff;
}

.recommend .carousel-indicators .active {
  background-color: #d90845;
}

.recommend .statement {
  margin-left: 10px;
}

.recommend .name {
  font-size: 1.5rem;
}

.recommend .job-title {
  color: #888;
}

.recommend img {
  width: 100px;
  height: 100px;
}

/* know about us seciton */
.know-about-us {
  color: #555;
  font-size: 1.125rem;
}

/* footer section */
.footer, .footer a, .footer span i {
  color: #888;
}
.footer a {
  text-decoration: none;
  font-size: 0.9rem;
}

.footer a:hover {
  color: #d90845;
}

.footer span {
  display: block;
  margin-bottom: 4px;
}

.footer .title {
  color: #333;
}

.footer .copyright {
  font-size: 0.8rem;
}


/* media query section */
@media screen and (max-width: 576px) {
  .recommend .statement {
    margin-left: 30px;
  }

  .recommend .carousel-item {
    height: 228px;
  }
}

@media screen and (min-width: 576px) {
  .recommend .statement {
    margin-left: 30px;
  }

  .recommend .carousel-item {
    height: 228px;
  }
}

@media screen and (min-width: 768px) {
  .recommend .statement {
    margin-left: 20px;
  }

  .recommend .carousel-item {
    height: 156px;
  }
}

@media screen and (min-width: 992px) {
  .recommend .statement {
    margin-left: 40px;
  }

  .recommend .carousel-item {
    height: 156px;
  }
}

@media screen and (min-width: 1200px) {
  .recommend .statement {
    margin-left: -60px;
  }

  .recommend .carousel-item {
    height: 156px;
  }
}