/* Gerneral */
img {
  vertical-align: middle;
}

.text-red {
  color: #d90845;
}

.section:nth-child(odd){
  background-color: #f7f7f7;
}

.main-title {
  color: #555;
}

.main-title h4::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  margin: 32px auto 0;
  background-color: #d90845;
}


/* Navigation */
.navbar {
  position: fixed;
  z-index: 22;
  background-color: #fff;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 12px rgba(154,122,122,0.2);
}

.logo-link img {
  width: 5.8rem;
}

.logo-link span {
  font-size: 1rem;
}

.nav-link i {
  margin-right: 4px;
}

.navbar-toggler {
  background-color: #fff;
  border: 2px solid #ccc;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link{
  color: #777;
}

.nav-item a:hover{
  color: #d90845;
}

.nav-link img {
  margin-left: 4px;
  animation: change 1.25s ease-in-out infinite alternate;
}

@keyframes change{
  0%{transform: translateY(0px)}
  50% {transform: translateY(-3px)}
  100%{transform: translateY(0px)}
}


/* banner section */
.banner .carousel-indicators li {
  margin-right: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #fff;
}

.banner .carousel-indicators .active {
  background-color: #d90845;
}


/* about-us section */
.about-us .subtitle {
  color: #333;
}

.about-us .desc {
  color: #555;
  font-size: 1rem;
}


/* hot section */
.hot .card-title {
  color: #666;
}

.hot .card-item{
  margin-bottom: 16px;
  box-sizing: border-box;
  transition: transform 0.15s ease-in-out, box-shadow 0.5s ease-in-out;
  height: 100%;
}

.hot .card-item:hover {
  transform: translateY(-3px);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.hot .teacher, .hot .course-date {
  color: #999;
  font-size: 0.85rem;
  font-weight: 400;
}

.hot .course-date {
  border-top: 1px solid #ccc;
  padding-top: 16px;
}

.hot .course-date .badge {
  font-size: 0.9rem;
  padding-top: 16px;
  background-color: #E6E6E6;
  padding: 7px 10px;
  color: #666;
}

.hot .more-btn {
  text-align: center;
  padding: 15px 50px;
  font-size: 1.125rem;
  background-color: #d90845;
  border-radius: 5px;
  transition: color .15s ease-in-out, box-shadow .3s ease-in-out;
}

.hot .more-btn:hover {
  color: #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hot .more-btn a {
  color: #fff;
  text-decoration: none;
}


/* recommend section */
.recommend {
  padding-bottom: 80px;
}

.recommend-indicators {
  margin-bottom: -50px;
}

.recommend .carousel-item {
  height: 228px; 
}

.recommend .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: rgba(85,85,85,0.3);
  border: 1px solid #fff;
}

.recommend .carousel-indicators .active {
  background-color: #d90845;
}

.recommend .statement {
  margin-left: 10px;
}

.recommend .name {
  font-size: 1.5rem;
}

.recommend .job-title {
  color: #888;
}

.recommend img {
  width: 100px;
  height: 100px;
}


/* know about us seciton */
.know-about-us {
  color: #555;
  font-size: 1.125rem;
}


/* footer section */
.footer, .footer a, .footer span i {
  color: #888;
}
.footer a {
  text-decoration: none;
  font-size: 0.9rem;
}

.footer a:hover {
  color: #d90845;
}

.footer span {
  display: block;
  margin-bottom: 4px;
}

.footer .title {
  color: #333;
}

.footer .copyright {
  font-size: 0.8rem;
}

.footer .container:nth-child(2) .row {
  padding: 0 15px;
}

/* fb-dialog-content */
.fb-dialog-content {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  right: 15px;
  bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.fb-dialog-content i{
  color: #d90845;
}

/* scroll top */
.scroll-top {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.scroll-top i {
  color: #d90845;
}


/* media query section */
@media screen and (max-width: 576px) {
  .banner {
    padding-top: 58px;
  }

  .recommend .statement {
    margin-left: 30px;
  }

  .recommend .carousel-item {
    height: 228px;
  }
}

@media screen and (min-width: 576px) {
  .banner {
    padding-top: 58px;
  }

  .recommend .statement {
    margin-left: 20px;
  }

  .recommend .carousel-item {
    height: 228px;
  }
}

@media screen and (min-width: 768px) {
  .recommend .carousel-item {
    height: 204px;
  }
}

@media screen and (min-width: 992px) {
  .banner {
    padding-top: 64px;
  }

  .recommend .statement {
    margin-left: 0;
  }

  .recommend .carousel-item {
    height: 156px;
  }
}

@media screen and (min-width: 1200px) {

  .recommend .carousel-item {
    height: 156px;
  }
}