body {
  position: relative;
  font-family: 'Noto Sans TC', sans-serif;
}

h2, h3 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: middle;
}

.section {
  padding: 40px 40px;
  line-height: 1.5;
}

.section:nth-child(even){
  background-color: #f7f7f7;
}

.main-title {
  margin: auto;
  display: flex;
  justify-content: center;
}

.main-title h2::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  margin: 32px auto 0;
  background-color: #d90845;
}

/* navigation */
#menu_control {
  position: absolute;
  display: none;
}

#menu_control:checked~.header .list-area {
  left: 0;
}

.header nav {
  position: relative;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  height: 70px;
  color: #777;
  background-color: #fff;
  position: fixed;
  padding: 0 15px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
}

.header .list-area {
  width: auto;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 70px;
  left: -80%;
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
  transition: .5s ease-in-out;
  z-index: 1;
}

.header .list-area a {
  margin: 4px 0;
}

.menu_btn {
  width: 50px;
  height: 50px;
  display: block;
  background-color: #d90845;
  position: relative;
  border-radius: 2px;
}

.menu_btn span {
  opacity: 0;
  width: 1px;
  height: 1px;
  display: block;
  overflow: hidden;
}

.menu_btn::before {
  content: '';
  position: absolute;
  display: block;
  border-radius: 2px;
  height: 3px;
  width: 40px;
  background-color: #fff;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  box-shadow: 0 10px 0 #fff, 0 -10px 0 #fff;
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo img {
  width: 92px;
  height: 24px;
}

.header .logo-txt {
  color: #d90845;
  margin-left: 8px;
  line-height: 24px;
}

.header .list-area a {
  color: #777;
  margin: 8px 4px;
}

.header .list-area span {
  margin: 0 4px;
}

.header .list-area a:hover {
  color: #d90845;
}

.header .list-area a:nth-child(3) {
  position: relative;
  margin-right: 20px;
}

.header .list-area img {
  position: absolute;
  right: -20px;
  animation: change 1.25s ease-in-out infinite alternate;
}

@keyframes change{
  0%{transform: translateY(0px)}
  50% {transform: translateY(-3px)}
  100%{transform: translateY(0px)}
}

@media screen and (min-width: 992px) {
  .menu_btn {
    display: none;
  }

  .header .list-area {
    position: relative;
    top: 0; 
    left: 0;
    display: flex;
    flex-direction: row;
    width: auto;
  }
}

/* banner section */
.banner {
  padding-top: 70px;
}
.banner img {
  width: 100%;
  vertical-align: bottom;
}


/* about-us section */
.about-us {
  text-align: center;
}

.about-us .subtitle {
  font-size: 24px;
}


/* hot section */
.hot .item img {
  max-width: 100%;
}

.hot .item{
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  transition: transform 0.15s ease-in-out, box-shadow 0.5s ease-in-out;
}

.hot .item:hover {
  transform: translateY(-3px);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.hot .txt {
  padding: 8px 15px;
}

.hot .badge {
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
  background-color: #d90845;
  color: #fff;
  padding: 3px 7px;
  border-radius: 4px;
}

.hot .course {
  padding: 8px 0 24px;
}

.hot .teacher {
  padding-bottom: 12px;
}

.hot .teacher, .hot .course-date {
  color: #999;
  font-size: 14px;
  font-weight: 500;
}

.hot .course {
  font-size: 18px;
  font-weight: 700;
  color: #666;
  padding: 8px 0 24px;
}

.hot .course-date {
  border-top: 1px solid #ddd;
  display: flex;
  padding: 16px 0 4px 0;
}

.hot span:nth-child(1) {
  width: 70px;
  font-size: 14px;
}

.hot span:nth-child(2) {
  padding: 4px 10px;
  color: #666;
  font-weight: 500;
  background-color: #e6e6e6;
  border-radius: 4px;
}

.hot .more-btn {
  width: 228px;
  border-radius: 4px;
  background-color: #d90845;
  padding: 15px 50px;
  margin: 32px auto;
  text-align: center;
}

.hot .more-btn {
  width: 128px;
  text-align: center;
  margin: 40px auto;
  padding: 15px 50px;
  font-size: 18px;
  background-color: #d90845;
  border-radius: 5px;
  transition: color .15s ease-in-out, box-shadow .3s ease-in-out;
}

.hot .more-btn:hover {
  color: #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hot .more-btn a {
  color: #fff;
  text-decoration: none;
}


/*  recommand section */
.recommand .carousel-item {
  display: flex;
  justify-content: center;
  margin: auto;
}

.recommand .carousel-item .img {
  width: 100px;
  height: 100px;
}

.recommand .carousel-item img{
  width: 100%;
  border-radius: 50%;
}

.recommand .txt {
  margin-left: 24px;
}
.recommand .desc {
  font-size: 16px;
  color: #555;
}
.recommand .name {
  margin: 8px 0 4px;
  font-size: 24px;
  color: #d90845;
}
.recommand .job-title {
  color: #888888;
}

.recommand .page-list {
  padding-top: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.recommand .page-list div {
  margin: 0 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ccc;
  transition: background-color 0.5s ease;
}
.recommand .page-list div:nth-child(1) {
  background-color: #d90845;
}

.recommand .page-list div:hover {
  background-color: #d90845;
}


/* know-about-us section */
.know-about-us .title, 
.know-about-us .desc, 
.know-about-us .social-btn {
  margin: auto;
  text-align: center;
}

.know-about-us h3{
  font-weight: 400;
  font-size: 24px;
  color: #555555;
}

.know-about-us .desc {
  font-size: 18px;
  line-height: 2;
}

.know-about-us a:nth-child(1), .know-about-us a:nth-child(2) {
  text-decoration: none;
  color: #d90845;
}

.know-about-us .social-btn {
  padding-top: 24px;
}

.know-about-us span  {
  margin: 0 16px;
}


/* footer section */
.footer {
  padding: 30px 0 2px 0;
  background-color: #f7f7f7;
  font-size: 15px;
}

@media screen and (max-width: 992px) {
  .footer .info-logo {
    text-align: center;
  }
}

.footer .copyright {
  margin: auto;
}

.footer .about {
  display: flex;
  justify-content: space-around;
}

.footer .info ul, 
.footer .about ul 
{
  list-style: none;
  padding-left: 0;
}

.footer .info li, 
.footer .about li {
  margin-bottom: 8px;
}

.footer li:nth-child(1) {
  font-weight: 500;
}

.footer a {
  text-decoration: none;
  color: #888888;
}

.footer a:hover {
  color: #d90845;
}

.footer img {
  width: 130px; 
}

.footer i {
  color: #888888;
  margin-right: 4px;
}

.footer .list-title {
  color: #333;
}

.footer .copyright {
  margin: auto;
  padding: 16px 0 0 0;
  text-align: center;
  color: #888888;
  font-size: 14px;
}

.footer .copyright .txt {
  padding: 24px 0 0 0 ;
  margin: 30px auto;
  box-sizing: border-box;
  border-top: 2px solid #ccc;
}


/* fb-dialog-content */
.fb-dialog-content {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  right: 15px;
  bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.fb-dialog-content i{
  color: #d90845;
}

/* scroll top */
.scroll-top {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.scroll-top i {
  color: #d90845;
}