
img {
  vertical-align: middle;
}

.section:nth-child(odd){
  background-color: #f7f7f7;
}

.main-title {
  color: #555;
}

.main-title h4::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  margin: 32px auto 0;
  background-color: #d90845;
}

.card-title {
  color: #666;
}

.hot .card-item{
  margin-bottom: 16px;
  box-sizing: border-box;
  transition: transform 0.15s ease-in-out, box-shadow 0.5s ease-in-out;
  height: 100%;
}

.hot .card-item:hover {
  transform: translateY(-3px);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.hot .teacher, .hot .course-date {
  color: #999;
  font-size: 14px;
  font-weight: 400;
}

.hot .course-date {
  border-top: 1px solid #ccc;
  padding-top: 16px;
}

.recommend-indicators {
  margin-bottom: -30px;
}

.recommend .carousel-item {
  height: 100%;
}

/* know about us seciton */
.know-about-us {
  color: #555;
  font-size: 1.125rem;
}

.know-about-us a {
  color: #d90845;
}

/* footer section */
.footer, .footer a, .footer span i {
  color: #888;
}
.footer a {
  text-decoration: none;
  font-size: 0.9rem;
}

.footer a:hover {
  color: #d90845;
}

.footer span {
  display: block;
  margin-bottom: 4px;
}

.footer .title {
  color: #333;
}

.footer .copyright {
  font-size: 0.8rem;
}